---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import reviewAuthors from "~/assets/images/review-authors.png";
import CachapaConQueso from "~/assets/images/plato-1.JPG";
import Sopa from "~/assets/images/plato-2.JPG";
import Pollo from "~/assets/images/plato-3.JPG";
import Postre from "~/assets/images/postre.JPG";
import Banner from "~/assets/images/banner-1.png";
import TriangleImage from "~/components/TriangleImage.astro";

---

<Layout title="Tomasa" pageTitle="Tomasa" description="¡Bienvenidos a nuestro Restaurante!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Restaurante" />
				<h1 class="font-black">Comida Venezolana 🇻🇪</h1>

				<p>
					Todos los días Abiertos con ricas <a href="#" class="underline font-bold">Cachapas</a>, <a href="#" class="underline font-bold">Carne en Vara</a>, <a href="#" class="underline font-bold">Cochino Frito</a> y el <a href="#" class="underline font-bold">Chicharrón Carnudo</a>
				</p>

				<span class="text-brand-green font-medium">✔ También tenemos delivery</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Reservar</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<TriangleImage size="400px" time="8s">
					<Picture
						class:list={"mx-auto"}
						src={CachapaConQueso}
						width={500}
						height={600}
						formats={["avif", "webp"]}
						alt="A description of my image."
						loading={"eager"}
						fetchpriority={"high"}
					/>
				</TriangleImage>
			</div>
		</Hero>
	</Section>

	<WideImage image={Banner} alt="Just an image" class:list={"aspect-video lg:aspect-[16/6]"} />

	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Nuestros platos</h2>
			<p slot="heading-content">
				Explora una selección de verdadera comida venezolana
			</p>
		</Heading>

		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto rounded-l-full rounded-b-full"}
						src={CachapaConQueso}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Plato 1</h3>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nobis deserunt expedita? Quae odit voluptates facilis vitae ad nam, molestiae inventore cum rerum nihil ab optio vero, harum ex nobis.
					</p>
				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto rounded-l-full rounded-b-full"}
						src={Sopa}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Plato 2</h3>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nobis deserunt expedita? Quae odit voluptates facilis vitae ad nam, molestiae inventore cum rerum nihil ab optio vero, harum ex nobis.
					</p>
				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto rounded-l-full rounded-b-full"}
						src={Pollo}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					<h3 class="h4 mt-0 font-black">Plato 3</h3>
					<p>
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nobis deserunt expedita? Quae odit voluptates facilis vitae ad nam, molestiae inventore cum rerum nihil ab optio vero, harum ex nobis.
					</p>
				</div>
			</div>
		</Grid>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="font-black">Cachapa</h1>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
				</p>

				<div class="mt-8">
					<Button url="/menu">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						Ver menu
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-l-full rounded-b-full"}
					src={CachapaConQueso}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge color="red" title="delicious" />
				<h2 class="font-black h2 my-4">Plato de la semana</h2>

				<span class="text-brand-red text-2xl font-bold italic">Pollo a la brasa</span>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
				</p>

				<div class="mt-8">
					<Button color="red" url="/book">Agendar ahora</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-l-full rounded-b-full"}
					src={Pollo}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Reviews -->
	<Section class:list={"bg-[rgb(56,19,1)] relative"}>
		<div class="py-16">
			<Hero>
				<div slot="hero-content-left" class="prose max-w-none order-2">
					<div class="text-center not-prose">
						<Badge color="white" title="reviews" />
					</div>
					<h2 slot="heading-title" class="font-black h4 text-center text-white mt-0 mb-4">Que dicen nuestros clientes...</h2>
					<div slot="heading-content">
						<p class="text-center text-white/80">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
						</p>

						<ReviewSlider />
					</div>
				</div>

				<div slot="hero-content-right">
					<Picture src={reviewAuthors} alt="Review authors" class="w-full h-auto" />
				</div>
			</Hero>
		</div>

		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full top-0 inset-x-0 rotate-180"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
		<svg
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 1440 320"
			class="absolute h-40 w-full bottom-0 inset-x-0"
			preserveAspectRatio="none"
			><path
				fill="#ffffff"
				fill-opacity="1"
				d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
			></path>
		</svg>
	</Section>

	<!-- Desserts -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none order-2">
				<Badge title="dulces" />
				<h2 slot="heading-title" class="font-black text-brand-green h2 my-4">Postres</h2>
				<div slot="heading-content">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
					</p>

					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus maiores quo ea aspernatur, cumque nam temporibus optio in accusamus molestias tempore consequuntur nihil quisquam sunt eligendi perferendis delectus quis nemo.
					</p>

					<div class="mt-8">
						<Button url="/menu">Ver menu</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-l-full rounded-b-full"}
					src={Postre}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>

	<!-- Contact -->
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none">
				<Badge color="red" title="bienvenido" />
				<h2 slot="heading-title" class="font-black text-brand-red h2 my-4">Visitanos y saluda</h2>
				<div slot="heading-content">
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas neque nam saepe est totam error quod blanditiis assumenda deleniti. Nostrum iure ut obcaecati sunt magnam soluta ab, laudantium in ex.
					</p>

					<span class="text-brand-red font-medium">
						✔ También tenemos delivery
					</span>

					<div class="mt-8">
						<Button color="red" url="/book">Aparta tu mesa</Button>
					</div>
				</div>
			</div>

			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto rounded-l-full rounded-b-full"}
					src={Postre}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>
</Layout>
